# Application
NODE_ENV=development

# Frontend
NEXT_PUBLIC_APP_NAME=The IQ Olympiad

# Backend
API_PORT=4000

# Database
MONGODB_URI=

# Redis
REDIS_URL=

# AI Engine
AI_ENGINE_URL=

# Qdrant
QDRANT_URL=